---
layout: layout
title: Cory Malnarick – Systems & UX Design
---
{% comment %}
{% include globe.html %}
{% endcomment %}
<p class="home-header"><b>Systems & UX Design</b></p><br>
<p class="home-subheader">I am a designer of digital & service products specializing in systems & user experience design. I currently work at <span><a class="button-link" href="https://apple.com">Apple</a></span> as a UX designer.</p>
<br>{% comment %}
My skills in research, analysis, strategy, and design enable a robust approach to crafting exceptional yet simple solutions for complicated, real-world problems that exceed the demands of the market, business, and customer. </p>
<br>
<p>I've worked on various assignments ranging from:</p>
<ul>
<li>Experience audits of technical, highly targeted e-commerce platforms for enterprise software products and technology</li>
<li>A complete redesign of an account & order management system for millions of customers</li>
<li>Research, strategy, and design of products and marketing experiences within e-commerce and physical marketplaces spanning the globe
</li>
</ul>
<div class="buttongrid">
	<div><a class="button-primary" href="/cory-malnarick-resume.pdf">CV</a></div> 
	<div><a class="button-secondary" href="mailto:cory.malnarick@gmail.com">Contact</a></div>
</div>{% endcomment %}

<h3 class="blogtitlespacing">Posts</h3>
<div class="projectgrid">
	{% for post in site.categories.post limit:4 %}
	{% include postcard.html %}
	{% endfor %}
</div>
<a class="navigationlink blogpostlinkspacing" href="/blog-posts.html">View All Posts →</a>

{% comment %}
<h3>Case Studies</h3>
<div class="projectgrid">
	{% for post in site.categories.project %}
		<div>
			<p class="projectlisttitle">{{ post.title }}</p>
			{% if post.description %}<p class="projectlistdescription">{{ post.description }}</p>{% endif %}
			<a class="projectlistlink" href="{{ post.url }}">Open →</a>
		</div>
	{% endfor %}
</div>
{% endcomment %}


