---
layout: layout
title: Cory Malnarick – Systems & UX Design
---
{% comment %}
{% include globe.html %}
{% endcomment %}
<p class="home-header"><b>Systems & UX Design</b></p><br>
<p class="home-subheader">I am a designer of digital & service products specializing in making complex systems simple & user experience design.</p>
<br>
<div class="form-background">
<h3 class="headline"><b>Very Interesting Things</b></h3>
<p>Receive very interesting things once a month – but never more than once a week – by entering your email below.</p><br>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/corymalnarick"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://corymalnarick.info/very-interesting-things', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email" placeholder="Your Email Address" class="newsletter-email-form" />
  <input 
  	type="submit" 
  	value="Subscribe" 
  	class="newsletter-subscribe-button" />
</form>
</div>
{% comment %}
<br>
<br>
<a href="/pet-gnocchi.html">gnocchi's page</a><br>
<a href="/pet-petite.html">petite's page</a>

<h3 class="blogtitlespacing">Blog Posts</h3>
<div class="projectgrid">
	{% for post in site.categories.post limit:3 %}
	{% include postcard.html %}
	{% endfor %}
</div>
<a class="navigationlink blogpostlinkspacing" href="/blog-posts.html">View All Posts →</a>



<h3>Case Studies</h3>
<div class="projectgrid">
	{% for post in site.categories.project %}
		<div>
			<p class="projectlisttitle">{{ post.title }}</p>
			{% if post.description %}<p class="projectlistdescription">{{ post.description }}</p>{% endif %}
			<a class="projectlistlink" href="{{ post.url }}">Open →</a>
		</div>
	{% endfor %}
</div>
{% endcomment %}


