<div class="form-background">
<h3 class="headline"><b>Very Interesting Things</b></h3>
<p>Receive very interesting things in your inbox around once a month – but never more than once a week – by entering your email below.</p><br>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/corymalnarick"
  method="post"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email" placeholder="Your Email Address" class="newsletter-email-form" />
  <input 
  	type="submit" 
  	value="Subscribe" 
  	class="newsletter-subscribe-button" />
</form>
</div>