<div class="form-background">
<div class="form-headline">Very Interesting Things</div>
<p style="font-size: 14px;padding-bottom:8px ;">Enter your email below to receive very interesting things around once a month – but never more than once a week.</p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/corymalnarick"
  method="post"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email" placeholder="Your Email Address" class="newsletter-email-form" />
  <input 
  	type="submit" 
  	value="Subscribe" 
  	class="newsletter-subscribe-button" />
</form>
</div>