{% if post.external_url %}
<div style="background: #e4e4e4; min-height: 120px; width: 1fr;">
		
	<span class="postdate">{{ post.date | date: "%Y %B %e"}}
	</span>
	{% if post.tags %}
	<span class="posttags">
	&nbsp;•&nbsp;&nbsp;{{ post.tags }}
	</span>
	{% endif %}

	<br>
	<p class="postlisttitle">
		{{ post.title }}
	</p>

	{% if post.description %}
	<p class="postlistdescription">
		{{ post.description }}
	</p>
	{% endif %}

	{% if post.external_url %}
	<a class="projectlistlink" href="{{ post.external_url }}">Visit ↗</a>
  	{% endif %}

</div>
{% else %}
<div>
		
	<span class="postdate">{{ post.date | date: "%Y %B %e"}}
	</span>
	{% if post.tags %}
	<span class="posttags">
	&nbsp;•&nbsp;&nbsp;{{ post.tags }}
	</span>
	{% endif %}

	<br>
	<p class="postlisttitle">
		{{ post.title }}
	</p>

	{% if post.description %}
	<p class="postlistdescription">
		{{ post.description }}
	</p>
	{% endif %}


  	<a class="projectlistlink" href="{{ post.url }}">
  		Open →
  	</a>


</div>
{% endif %}