/*  Availabile fonts:
    
    kepler-std-caption:
        normal: 400, 700
        italic: 400, 700

    kepler-std-semicondensed-sub:
        normal: 400, 700
        italic: 400, 700

    litania:
        normal: 400

    aktiv-grotesk
        normal: 400, 700
        italic: 400, 700

    ativ-grotesk-thin
        normal: 200
        italic: 200
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
    max-width: 64rem;
    background-color: #EFEFF4;
}

main {
	flex: 1 0 auto;
}

.headercard {
    background-color: #D6D6DD!important; 
    width: 100%; 
    border-radius: 16px;
    padding: 40px;
    padding-top: 160px;
    margin-left: -40px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.subheadercard {
	background-color: #D6D6DD!important; 
    width: 100%; 
    border-radius: 8px;
    padding: 20px;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 2.2222rem;
}

.headline {
    padding-top: 80px;
    font-weight: 700;
    font-style: normal;
}

.subheadline {
	width: 40rem;
}

h1, h3, h4, h5, h6 {
    padding-top: 24px;
    padding-bottom: 12px;
    width: 40rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
}

h2 {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 40rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 400;
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;  
}

p {
    width:32rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 1.6111;
}

.navspacing {
	padding-top: 40px;
}

ul {
	list-style: none;
    padding: 0;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

li {
    padding: 16px;
    padding-top: 8px;
    border-radius: 8px;
    margin-top: 8px;
    background-color: rgb(228, 228, 228);
    width: 32rem;
    margin-left: -16px;
}

a:link {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #bb4e20;
}

a:hover {
	color: rgba(0, 0, 0, 0.2); 
}

a:active {
	opacity: 0.2;
}

a:visited {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #bb4e20;
}

.postdate {
	color: #333;
	font-size: 12px;
}

footer {
	padding-bottom: 16px;
    max-width: 32rem;
}