<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
<body> 
  <main>
    <header>
      {% include navigation %}
    <h1 class="pagetitlespacing">{{ page.title }}</h1>
    </header>
    {{ content }}
  </main> 
</body>

<footer>
  {% include footer.html %}
</footer>

</html>
